gnfs/*.o
gnfs/*.d
gnfs/*.lst
gnfs/*.gch
gnfs/*.tim
gnfs/ut_skewed.cfg
gnfs/skewed.out
gnfs/factorpoly.cpp
gnfs/RateOptimizerTest
gnfs/examples/*/*
gnfs/gbin/*
*.o
__pycache__/
merge_record.txt
gnfs/merge_record.txt
gnfs/C144_104_45_UT.fb.dat
gnfs/C144_104_45_UT.rb.dat
gnfs/C144_104_45_fixed_UT.relations
gnfs/sieve_stats.csv
gnfs/ut_sieve_fixed.cfg
gnfs/gbin/
gnfs/*.o
gnfs/*.d
