gnfs/*.o
gnfs/*.d
gnfs/*.lst
gnfs/*.gch
gnfs/*.tim
gnfs/ut_skewed.cfg
gnfs/skewed.out
gnfs/factorpoly.cpp
gnfs/RateOptimizerTest
gnfs/examples/*/*
gnfs/gbin/*
*.o
__pycache__/
merge_record.txt
gnfs/merge_record.txt
